*{
	font-family: 'Lato', sans-serif;
}
div{
	padding:0;
}
#header{
	background-color:#113B51;
	min-height: 100vh;
	padding-top:20px;
	display:flex;
	justify-content: flex-end;
	max-height: 100vh;
	overflow: auto;
}
#header h1{
	color:#ecf4f8;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
#header button{
	border-radius: 30%;
	color:#ecf4f8;
	font-size: 30px;
	background-color:#032436;
	position:absolute;
	right:0;
	top:50%;
	height:50px;
	width:50px;
	border-width: 0;
}
#social{
	background-color:#113B51;
	padding-top:20px;
	min-height: 100vh;
	max-height: 100vh;
	overflow: auto;
}
#social #title{
	padding-top:30px;
	display: flex;
	justify-content: center;
	width:100%;
}
#social h1{
	color:#ecf4f8;

}
#socialNames{
	margin-left:10px;
}
.fabLogo{
	height:50px;
	margin-left: 60px;
}
#social button{
	border-radius: 30%;
	font-size: 30px;
	color:#ecf4f8;
	background-color:#032436;
	position:absolute;
	right:0;
	top:50%;
	height:50px;
	width:50px;
	border-width: 0;
}
#meDiv{
	display: flex;
	justify-content: center;
}
#me {
	width: 100vh;
	height: 100vh;
}
#main-content{
	max-height: 100vh;
	background-color:#6F90A2;
	min-height: 100vh;
	padding-top:20px;
	padding-left:0;
	overflow: scroll;
	color:#032436;
}
.card{
	background-color: #6F90A2;
	margin-top: 10px;
	border-style: none;
	padding-top: 10px;
	padding-right:10px;
	margin-bottom: 10px;
}

.container{
	margin:0;
	min-width:100%;
}
.nav{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
	border-bottom:0;
}
.nav a{
	color:white;
}
#main-content button{

}
input{
	border-style: none;
	color:#ecf4f8;
	background-color:#032436;
	width:200px;
}
#messageContent{
	resize: both;
	overflow: auto;
	color:#ecf4f8;
	background-color:#032436;
	border-style: none;
	width: 600px;
	height:200px;
	margin-top: 10px;
}
#emailFail{
	border: 5px solid red;
}
.form input{
	margin:10px 0;
}
.project{
	background-color:#ecf4f8;
}
#projectHolder{
	display:block;
	width:100%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ecf4f8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ecf4f8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ecf4f8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ecf4f8;
}